name: CI
on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - onboarding_pr
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          date >> foo.txt
          echo "Triggered by PR ${{ github.event.client_payload.sourcePrNumber }} (${{ github.event.client_payload.uuid }})" >> foo.txt
          git add foo.txt
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.PAT }}
          body: |
            Triggered by ${{ github.event.client_payload.uuid }}
            Depends on https://github.com/JoeSainsburys/example-repo/pull/${{ github.event.client_payload.sourcePrNumber }}
