name: CI
on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - onboarding_pr
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          date >> foo.txt
          echo "Triggered by PR ${{ github.event.client_payload.sourcePrNumber }} (${{ github.event.client_payload.sourceBaseRef }} => ${{ github.event.client_payload.sourceHeadRef }})" >> foo.txt
          git add foo.txt
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.PAT }}
          body: |
            Triggered by ${{ github.event.client_payload.uuid }}
            Depends on https://github.com/${{ github.event.client_payload.sourceOwner }}/${{ github.event.client_payload.sourceRepo }}/pull/${{ github.event.client_payload.sourcePrNumber }}
      - uses: actions/github-script@v4
        if: ${{ steps.cpr.outputs.pull-request-operation == 'created' }}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number:  github.event.client_payload.sourcePrNumber,
              owner:  github.event.client_payload.sourceOwner,
              repo:  github.event.client_payload.sourceRepo,
              body: 'Resultant changes: ${{ steps.cpr.outputs.pull-request-url }}'
            })
