name: sync_pr_changes
on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - onboarding_pr
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          git checkout "${{ github.event.client_payload.sourceRepo }}-${{ github.event.client_payload.sourcePrNumber }}" || export FIRST_RUN=true
          date >> foo.txt
          echo "Triggered by PR ${{ github.event.client_payload.sourcePrNumber }} (${{ github.event.client_payload.sourceBaseRef }} => ${{ github.event.client_payload.sourceHeadRef }})" >> foo.txt
          git add foo.txt
          if [[ -n "$FIRST_RUN" ]]; then exit 0; fi
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email action@github.com
          git commit -m "Automated commit"
          git push
