name: sync_pr_changes
on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - onboarding_pr
jobs:
  build:
    env:
      pr_branch_name: "${{ github.event.client_payload.sourceRepo }}-${{ github.event.client_payload.sourcePrNumber }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          set -ex
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email action@github.com
          git fetch --all
          if git branch -a | grep "$pr_branch_name"; then
            EXISTING_BRANCH=1
            git checkout "$pr_branch_name"
          else
            git checkout -b "$pr_branch_name"
          fi
          date >> foo.txt
          echo "Triggered by PR ${{ github.event.client_payload.sourcePrNumber }} (${{ github.event.client_payload.sourceBaseRef }} => ${{ github.event.client_payload.sourceHeadRef }})" >> foo.txt
          git add foo.txt
          git commit -m "Automated commit"
          if [[ -z "$EXISTING_BRANCH" ]]; then
            git push 
          else
            git push origin "HEAD:$pr_branch_name"
          fi
      - name: Create Pull Request
        uses: actions/github-script@v2
        with:
          github-token: ${{ secrets.PAT }}
          script: |
            const existingPrs = await github.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head: '${{ env.pr_branch_name }}',
              base: 'main'
            });
            if (existingPrs.length){
              return;
            }
            const prCreated = await github.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: 'Automated PR',
              head: '${{ env.pr_branch_name }}',
              base: 'main',
              body: 'Depends on https://github.com/${{ github.event.client_payload.sourceOwner }}/${{ github.event.client_payload.sourceRepo }}/pull/${{ github.event.client_payload.sourcePrNumber }}',
              maintainer_can_modify: true
            });
            github.issues.createComment({
              issue_number:  context.payload.client_payload.sourcePrNumber,
              owner:  context.payload.client_payload.sourceOwner,
              repo:  context.payload.client_payload.sourceRepo,
              body: 'Automatically created PR: ' + prCreated.data.url
            })
